@model PagedList.PagedList<WebJob.Models.EF.Job>
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Danh sách việc làm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/jobs" class="nav-link">@ViewBag.Title</a>
        </li>
    </ul>}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.14.0/themes/base/jquery-ui.css">
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản lý danh sách việc làm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">@ViewBag.Title</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@ViewBag.Title</h3>

            <div class="card-tools">
                <a href="/admin/jobs/add" class="btn btn-primary">Thêm mới</a>
                <a href="#" class="btn btn-danger" id="btnDeleteAll">Xóa</a>
            </div>
        </div>
        <div class="card-body">
            @*<div class="row">
                    <div class="col-6">
                        @using (Html.BeginForm("Index", "Jobs", FormMethod.Get, new { }))
                        {
                            <div class="input-group input-group-sm">
                                @Html.TextBox("SearchText", new { @class = "form-control" })-->
                                <input type="text" name="searchText" class="form-control">
                                <span class="input-group-append">
                                    <button type="submit" class="btn btn-info btn-flat">Tìm kiếm</button>
                                </span>
                            </div>
                        }

                    </div>
                </div>*@
            <table class="table table-hover ">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="SelectAll" /></th>
                        <th>STT</th>
                        <th>Hình ảnh</th>
                        <th>Tiên công việc</th>
                        <th>Danh mục</th>
                        <th>Kinh nghiệm</th>
                        <th>Mức lương</th>
                        <th>Ngày tạo</th>
                        <th>Cần tuyển gấp</th>
                        <th>Hiển thị</th>
                        <th style="width:150px;"></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        //var i = ((ViewBag.Page - 1) * ViewBag.PageSize) + 1;
                        var i = 1;
                        foreach (var item in Model)
                        {
                            var strCheck = item.IsActive ? "<i class='fa fa-check text-success'></i>" : "<i class='fas fa-times text-danger'></i>";
                            var strCheckNow = item.IsNow ? "<i class='fa fa-check text-success'></i>" : "<i class='fas fa-times text-danger'></i>";
                            <tr id="trow_@item.JobID">
                                <td><input type="checkbox" class="cbkItem" value="@item.JobID" /></td>

                                <td>@i</td>
                                @*<td><img src="@item.Company.CompanyImages.FirstOrDefault(x=> x.IsDefault).ImageURL??" width="50" /></td>*@
                                <td>
                                    @if (item.Company != null && item.Company.CompanyImages != null)
                                    {
                                        var defaultImage = item.Company.CompanyImages.FirstOrDefault(x => x.IsDefault);
                                        if (defaultImage != null)
                                        {
                                            <img class="imgcompany" data-id="@item.JobID" src="@defaultImage.ImageURL" width="50" /> }
                                        else
                                        {
                                            <img class="imgcompany" data-id="@item.JobID" src="default-image-url.jpg" width="50" /> <!-- Thay thế bằng URL của ảnh mặc định nếu không có ảnh mặc định --> }
                                    }
                                    else
                                    {
                                        <img class="imgcompany" data-id="@item.JobID" src="default-image-url.jpg" width="50" /> <!-- Thay thế bằng URL của ảnh mặc định nếu không có công ty hoặc ảnh -->}
                                </td>
                                <td>@item.JobTitle</td>
                                <td>@item.JobCategory.CategoryName</td>
                                <td>@item.Experience.ExperienceLevel</td>
                                <td>
                                    <span>@item.Salary.SalaryMin</span>-<span>@item.Salary.SalaryMax</span><span> triệu</span>
                                </td>
                                <td>
                                    @(item.CreatedDate.HasValue ? item.CreatedDate.Value.ToString("dd/MM/yyyy") : "N/A")

                                </td>
                                <td class="text-center">
                                    <a href='#' data-id="@item.JobID" class="btnNow"> @Html.Raw(strCheckNow) </a>

                                </td>
                                <td class="text-center">
                                    <a href='#' data-id="@item.JobID" class="btnActive"> @Html.Raw(strCheck) </a>

                                </td>
                                <td>
                                    <a href="/admin/jobs/edit/@item.JobID" class="btn btn-sm btn-primary">Sửa</a>
                                    <a href="#" data-id="@item.JobID" class="btn btn-sm btn-danger btnDelete">Xóa</a>
                                </td>
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">Không có bảng tin nào</td>

                        </tr>
                    }
                </tbody>
            </table>

            <div class="row">
                <div class="col-6"></div>
                <div class="col-6" style="text-align:right">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

                </div>
            </div>

        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->

<div id="dialog">
    <iframe id="myIframe" style="border:0; width:100%; height:100%;"></iframe>
</div>


@section scripts {
    <script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {

            $('#dialog').dialog({
                autoOpen: false,
                show: "fade",
                hide: "fade",
                model: true,
                height: '600',
                width: '700',
                resizable: true,
                title: 'Quản lý sản phẩm',
                close: function () {
                    window.location.reload();
                }
            });
            //$('body').on("click", ".imgcompany", function () {
            //    var proid = $(this).attr("data-id");
            //    $('#dialog #myIframe').attr("src", "/admin/CompanyImages/Index?id=" + proid);
            //    $('#dialog').dialog('open');
            //    return false;
            //});


            $('body').on("click", ".imgcompany", function () {
                var proid = $(this).attr("data-id");
                $('#dialog #myIframe').attr("src", "/admin/CompanyImages/Index?id=" + proid);
                $('#dialog').dialog('open');
                return false;
            });


            // Xóa tất cả
            $('body').on('click', '#btnDeleteAll', function (e) {
                e.preventDefault();
                var str = "";
                var checkbox = $(this).parents('.card').find('tr td input:checkbox');
                var i = 0;
                checkbox.each(function () {

                    if (this.checked) {
                        checkbox.attr('selected', 'checked');
                        var _id = $(this).val();
                        if (i === 0) {
                            str += _id;
                        } else {
                            str += "," + _id;
                        }
                        i++;
                    } else {
                        checkbox.attr('selected', '');

                    }
                });
                if (str.length > 0) {
                    var conf = confirm('Bạn có muốn xóa các bản ghi được chọn?');
                    if (conf == true) {
                        $.ajax({
                            url: '/admin/jobs/DeleteAll',
                            type: 'POST',
                            data: { ids: str },
                            success: function (rs) {
                                if (rs.success) {
                                    location.reload();
                                }
                            }
                        });
                    }
                }
            });


            // check tất cả
            $('body').on('change', '#SelectAll', function () {
                var checkStatus = this.checked;
                var checkbox = $(this).parents('.card-body').find('tr td input:checkbox');
                checkbox.each(function () {
                    this.checked = checkStatus;
                    if (this.checked) {
                        checkbox.attr('selected', 'checked');
                    } else {
                        checkbox.attr('selected', '');
                    }
                });
            });

            // xóa 1 đối tượng
            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data("id");
                var conf = confirm('Bạn có muốn xóa?');
                if (conf === true) {
                    $.ajax({
                        url: '/admin/jobs/delete',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('#trow_' + id).remove();
                                location.reload();
                            } else {
                                alert('Có lỗi xảy ra. Vui lòng thử lại.');
                            }
                        },
                        error: function () {
                            alert('Có lỗi xảy ra. Vui lòng thử lại.');
                        }
                    });
                }
            });

            // thay đổi trạng thái hiển thị
            $('body').on('click', '.btnNow', function (e) {
                e.preventDefault();
                var btn = $(this);
                var id = btn.data("id");
                $.ajax({
                    url: '/admin/jobs/IsNow',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {

                        if (rs.success) {
                            if (rs.IsNow) {
                                btn.html("<i class='fa fa-check text-success'></i>");

                            } else {
                                btn.html("<i class='fas fa-times text-danger'></i>");

                            }
                        }
                    },

                    error: function () {
                        alert('Có lỗi xảy ra. Vui lòng thử lại.');
                    }
                });

            }); // thay đổi trạng thái hiển thị
            $('body').on('click', '.btnActive', function (e) {
                e.preventDefault();
                var btn = $(this);
                var id = btn.data("id");
                $.ajax({
                    url: '/admin/jobs/isActive',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {

                        if (rs.success) {
                            if (rs.isActive) {
                                btn.html("<i class='fa fa-check text-success'></i>");

                            } else {
                                btn.html("<i class='fas fa-times text-danger'></i>");

                            }
                        }
                    },

                    error: function () {
                        alert('Có lỗi xảy ra. Vui lòng thử lại.');
                    }
                });

            });
        });
    </script>

}



@*@section scripts {
        <script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"></script>
        <script>
            $(document).ready(function () {

                $('#dialog').dialog({
                    autoOpen: false,
                    show: "fade",
                    hide: "fade",
                    model: true,
                    height: '600',
                    width: '700',
                    resizable: true,
                    title: 'Quản lý sản phẩm',
                    close: function () {
                        window.location.reload();
                    }
                });


                $('body').on("click", ".imgcompany", function () {
                    var proid = $(this).attr("data-id");
                    $('#dialog #myIframe').attr("src", "/admin/CompanyImages/Index?id=" + proid);
                    $('#dialog').dialog('open');
                    return false;
                });


                // Xóa tất cả
                $('body').on('click', '#btnDeleteAll', function (e) {
                    e.preventDefault();
                    var str = "";
                    var checkbox = $(this).parents('.card').find('tr td input:checkbox');
                    var i = 0;
                    checkbox.each(function () {

                        if (this.checked) {
                            checkbox.attr('selected', 'checked');
                            var _id = $(this).val();
                            if (i === 0) {
                                str += _id;
                            } else {
                                str += "," + _id;
                            }
                            i++;
                        } else {
                            checkbox.attr('selected', '');

                        }
                    });
                    if (str.length > 0) {
                        var conf = confirm('Bạn có muốn xóa các bản ghi được chọn?');
                        if (conf == true) {
                            $.ajax({
                                url: '/admin/jobs/DeleteAll',
                                type: 'POST',
                                data: { ids: str },
                                success: function (rs) {
                                    if (rs.success) {
                                        location.reload();
                                    }
                                }
                            });
                        }
                    }
                });


                // check tất cả
                $('body').on('change', '#SelectAll', function () {
                    var checkStatus = this.checked;
                    var checkbox = $(this).parents('.card-body').find('tr td input:checkbox');
                    checkbox.each(function () {
                        this.checked = checkStatus;
                        if (this.checked) {
                            checkbox.attr('selected', 'checked');
                        } else {
                            checkbox.attr('selected', '');
                        }
                    });
                });

                // xóa 1 đối tượng
                $('body').on('click', '.btnDelete', function () {
                    var id = $(this).data("id");
                    var conf = confirm('Bạn có muốn xóa?');
                    if (conf === true) {
                        $.ajax({
                            url: '/admin/jobs/delete',
                            type: 'POST',
                            data: { id: id },
                            success: function (rs) {
                                if (rs.success) {
                                    $('#trow_' + id).remove();
                                    location.reload();
                                } else {
                                    alert('Có lỗi xảy ra. Vui lòng thử lại.');
                                }
                            },
                            error: function () {
                                alert('Có lỗi xảy ra. Vui lòng thử lại.');
                            }
                        });
                    }
                });

                // thay đổi trạng thái hiển thị
                $('body').on('click', '.btnNow', function (e) {
                    e.preventDefault();
                    var btn = $(this);
                    var id = btn.data("id");
                    $.ajax({
                        url: '/admin/jobs/IsNow',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {

                            if (rs.success) {
                                if (rs.IsNow) {
                                    btn.html("<i class='fa fa-check text-success'></i>");

                                } else {
                                    btn.html("<i class='fas fa-times text-danger'></i>");

                                }
                            }
                        },

                        error: function () {
                            alert('Có lỗi xảy ra. Vui lòng thử lại.');
                        }
                    });

                }); // thay đổi trạng thái hiển thị
                $('body').on('click', '.btnActive', function (e) {
                    e.preventDefault();
                    var btn = $(this);
                    var id = btn.data("id");
                    $.ajax({
                        url: '/admin/jobs/isActive',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {

                            if (rs.success) {
                                if (rs.isActive) {
                                    btn.html("<i class='fa fa-check text-success'></i>");

                                } else {
                                    btn.html("<i class='fas fa-times text-danger'></i>");

                                }
                            }
                        },

                        error: function () {
                            alert('Có lỗi xảy ra. Vui lòng thử lại.');
                        }
                    });

                });
            });
        </script>

    }*@




