@model  IEnumerable<WebJob.Models.EF.JobCategory>

@if (Model != null && Model.Any())
{

<ul>
    @foreach (var item in Model)
    {
        var activeJobCount = item.Jobs.Count(j => j.IsActive);
        <li>
            <a href="@item.Alias-@item.JobCategoryID">
                <span class="cate-img">
                    <em>@item.CategoryName</em>
                </span>
                <span class="cate-count">@activeJobCount</span>
            </a>
        </li>
    @*<li>
            <a href="@Url.Action("View_itemsByCateId", "Jobs", new { alias = item.Alias, id = item.JobCategoryID })">
                <span class="cate-img">
                    <em>@item.CategoryName</em>
                </span>
                <span class="cate-count">@activeJobCount</span>
            </a>
        </li>*@
    }



    @*<li>
            <a href="#" class="readallstyle reads1">Xem tất cả</a>
        </li>*@

</ul>
}