@model  IEnumerable<WebJob.Models.EF.JobCategory>

@if (Model != null && Model.Any())
    {
        
    <div class="collapse show" id="filter-topic">
        <div class="card o-card card-body">
            <div class="filter-panel">
                <div class="panel-content">
                    <div class="filter-topic cotain-common-filter">
                        <a href="@Url.RouteUrl("AllJob")" class="filter-action">Tất cả ngành nghề</a>
                        <span class="filter-count">@ViewBag.All</span>
                    </div>



                    @foreach (var item in Model)
                    {
                        var activeJobCount = item.Jobs.Count(j => j.IsActive);
                        if (ViewBag.CateId == item.JobCategoryID)
                        {
                            <div class="filter-topic cotain-common-filter">
                                <a href="/@item.Alias-@item.JobCategoryID" class="filter-action active-one">@item.CategoryName</a>
                                <span class="filter-count">@activeJobCount</span>
                            </div>
                        }
                        else
                        {
                            <div class="filter-topic cotain-common-filter">
                                <a href="/@item.Alias-@item.JobCategoryID" class="filter-action">@item.CategoryName</a>
                                <span class="filter-count">@activeJobCount</span>
                            </div>
                        }

                    }
                </div>
            </div>
        </div>
    </div>

    <style>
        .active-one {
            text-decoration: underline;     
            text-decoration-color: blue;
        }
        .filter-topic .filter-action {
            display: inline-block; /* Hoặc block nếu cần */
            max-width: 130px; /* Đặt chiều rộng tối đa phù hợp */
            overflow: hidden; /* Ẩn phần văn bản tràn ra ngoài */
            text-overflow: ellipsis; /* Hiển thị dấu ba chấm */
            white-space: nowrap; /* Giữ văn bản trên cùng một dòng */
            font-size: 14px; /* Kích thước chữ (tùy chỉnh) */
            color: #333; /* Màu chữ (tùy chỉnh) */
            text-decoration: none; /* Bỏ gạch chân (tùy chỉnh) */
        }

    </style>



    @*<li>
            <a href="#" class="readallstyle reads1">Xem tất cả</a>
        </li>*@


}