@using System.Collections.Generic
@model IEnumerable<WebJob.Models.EF.Job>


@{
    ViewBag.Title = "Danh sách việc làm";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
<!-- search section -->
<div class="container-fluid search-fluid">
    <div class="container">
        <div class="search-wrapper">

            <ul class="nav nav-tabs search-nav-tabs" id="myTab" role="tablist">
                <li class="nav-item search-nav-item">
                    <a class="nav-link snav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Tìm việc làm</a>
                </li>
                <li class="nav-item search-nav-item">
                    <a class="nav-link snav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Tìm công ty</a>
                </li>
            </ul>
            <div class="tab-content search-tab-content" id="myTabContent">
                <!-- content tab 1 -->
                <div class="tab-pane stab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <form class="bn-search-form">
                        <div class="row">
                            <div class="col-md-10 col-sm-12">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="input-group s-input-group">
                                            <input type="text" class="form-control sinput" placeholder="Nhập kỹ năng, công việc,...">
                                            <span><i class="fa fa-search"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <select id="computer-languages">
                                            <option value="" selected hidden>Tất cả ngôn ngữ</option>
                                            <option>Java</option>
                                            <option>.NET</option>
                                            <option>Javascript</option>
                                            <option>Php</option>
                                            <option>Python</option>
                                            <option>QC QC</option>
                                            <option>Business Analyst</option>
                                            <option>Tester</option>
                                            <option>Ruby</option>
                                        </select>
                                        <i class="fa fa-code sfa" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-md-3">
                                        <select id="s-provinces">
                                            <option value="" selected hidden>Tất cả địa điểm</option>
                                            <option>Đà Nẵng</option>
                                            <option>Hà Nội</option>
                                            <option>Hồ Chí Minh</option>
                                            <option>Buôn Ma Thuột</option>
                                            <option>Quy Nhơn</option>
                                            <option>Nha Trang</option>
                                        </select>
                                        <i class="fa fa-map-marker sfa" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <button type="submit" class="btn btn-primary btn-search col-sm-12">Tìm kiếm</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- (end) content tab 1 -->
                <!-- content tab 2 -->
                <div class="tab-pane stab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <form class="bn-search-form">
                        <div class="row">
                            <div class="col-md-10 col-sm-12">
                                <div class="input-group s-input-group w-100">
                                    <input type="text" class="form-control sinput" placeholder="Nhập kỹ năng, công việc,...">
                                    <span><i class="fa fa-search"></i></span>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <button type="submit" class="btn btn-primary btn-search col-sm-12">Tìm kiếm</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- (end) content tab 2 -->
            </div>

        </div>
    </div>
</div>
<!-- (end) search section -->



<div class="container-fluid">
    <div class="container search-wrapper">
        <div class="row">
            <div class="col-md-3 col-sm-12 col-12">
                <a id="click_advance" class="btn btn-c-filter" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                    <i class="pr-2 fa fa-times" id="icon-s-sw" aria-hidden="true"></i>Filter &amp; Refind
                </a>

                <div class="collapse show" id="collapseExample" style="">
                    <div class="card card-body bg-card-body-filter">
                        <div class="filter-bar">
                            <div class="filter-form">
                                <div class="filter-form-item">
                                    <p>
                                        <a id="clickc_advance" class="btnf btn-filter" data-toggle="collapse" href="#filter-topic" role="button" aria-expanded="false" aria-controls="collapseExample">
                                            Ngành nghề
                                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                                        </a>
                                    </p>
                                    @* Danh sach nganh nghe *@
                                    @Html.Action("MenuJobLeft", "Menu")
                                </div>
                                <div class="filter-form-item">
                                    <p>
                                        <a id="clickc2_advance" class="btnf btn-filter" data-toggle="collapse" href="#filter-price" role="button" aria-expanded="false" aria-controls="collapseExample">
                                            Mức Lương
                                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                                        </a>
                                    </p>
                                    <div class="collapse show" id="filter-price">
                                        <div class="card o-card card-body">
                                            <div class="filter-panel">
                                                <div class="panel-content">
                                                    <div class="filter-topic filter-input-price">
                                                        <form class="al-price-filter">
                                                            <span class="_fpblock">
                                                                <input type="number" class="if-price" id="" placeholder="50,000">
                                                            </span>
                                                            <span class="_fpblock _line">
                                                                <p>-</p>
                                                            </span>
                                                            <span class="_fpblock">
                                                                <input type="number" class="if-price" id="" placeholder="1,000,000">
                                                            </span>
                                                            <span class="_fpblock">
                                                                <button type="submit" style="color:black" class="sb-fprice btn btn-success">@*<i class="fa fa-angle-right" aria-hidden="true"></i>*@ Tìm</button>
                                                            </span>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @* luọt online *@
                                <div class="filter-form-item">
                                    <p>
                                        <a id="clickc3_advance" class="btnf btn-filter" data-toggle="collapse" href="#filter-video-duration" role="button" aria-expanded="false" aria-controls="collapseExample">
                                            Lượt Online

                                        </a>
                                    </p>
                                    @Html.Action("Refresh", "Home")
                                </div>

                            </div>
                        </div> <!-- filter bar -->
                        <script type="text/javascript">
                            window.onload = function () { screenCollapse() };

                            let ele = document.getElementsByClassName("collapse");

                            function screenCollapse() {
                                if (window.innerWidth < 720) {
                                    $(".collapse").removeClass("show");
                                    $(".collapse").addClass("hide");
                                }
                            }
                        </script>
                    </div>
                </div> <!-- ./ collapse -->
            </div>
            <div class="col-md-9 col-sm-12 col-12">
                <h4 class="search-find">Tìm thấy @Model.Where(x => x.IsActive).Count() việc làm đang tuyển dụng</h4>
                <div class="job-board-wrap">
                    <div class="job-group">
                        @if (Model != null && Model.Any())
                        {
                            foreach (var item in Model)
                            {
                                var strImge = "";
                                var img = item.CompanyImages.FirstOrDefault(x => x.IsDefault);
                                if (img != null)
                                {
                                    strImge = img.ImageURL;
                                }
                                <div class="job pagi">
                                    <div class="job-content">
                                        <div class="job-logo">
                                            <a href="/chi-tiet/@item.Alias-p@(item.JobID)">
                                                <img src="@strImge" class="job-logo-ima" alt="job-logo">
                                            </a>
                                        </div>

                                        <div class="job-desc">
                                            <div class="job-title">
                                                <a href="/chi-tiet/@item.Alias-p@(item.JobID)">@item.JobTitle</a>
                                            </div>
                                            <div class="job-company">
                                                <a href="#">@item.Company.CompanyName</a> | <a href="#" class="job-address">
                                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                    @item.Location.LocationName
                                                </a>
                                            </div>

                                            <div class="job-inf">
                                                @*<div class="job-main-skill">
                                                        <i class="fa fa-code" aria-hidden="true"></i>  <a href="#"> Java</a>
                                                    </div>*@
                                                <div class="job-salary">
                                                    <i class="fa fa-money" aria-hidden="true"></i>
                                                    <span class="salary-min">@item.Salary.SalaryMin<em class="salary-unit"></em></span>
                                                    <span class="salary-max">@item.Salary.SalaryMax <em class="salary-unit">triệu</em></span>
                                                </div>
                                                <div class="job-deadline">
                                                    <span><i class="fa fa-clock-o" aria-hidden="true"></i>  Hạn nộp: <strong>31/12/2019</strong></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wrap-btn-appl">
                                            <a href="/ung-tuyen?jobId=@item.JobID" class="btn btn-appl">Ứng tuyển ngay</a>
                                            <a href="#" data-id="@item.JobID" class="btn btn-danger btnAddSave">lưu</a>

                                        </div>

                                    </div>
                                </div>
                            }
                        }


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
