@model IEnumerable<WebJob.Models.SaveJobItem>
@{
    ViewBag.Title = "Công việc đã lưu";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}


<div class="container-fluid">
    <div class="container search-wrapper">
        <div class="row">

            <div class="col-md-12 col-sm-12 col-12">
                @*<h4 class="search-find">Tìm thấy việc làm đang lưu</h4>*@
                <div class="job-board-wrap">
                    <div class="job-group">
                        @if (Model != null && Model.Any())
                        {
                            foreach (var item in Model)
                            {
                                <div class="job pagi">
                                    <div class="job-content" id="trow_@item.SaveJobId">
                                        <div class="job-logo">
                                            <a href="#">
                                                <img src="@item.SaveJobImg" class="job-logo-ima" alt="job-logo">
                                            </a>
                                        </div>
                                        <div class="job-desc">
                                            <div class="job-title">
                                                <a href="/chi-tiet/@item.Alias-p@(item.SaveJobId)">@item.SaveJobName</a>
                                            </div>
                                            <div class="job-inf">

                                                <div class="job-salary">
                                                    <i class="fa fa-money" aria-hidden="true"></i>
                                                    <span class="salary-min">@item.SaveJobSalaryMin<em class="salary-unit"></em></span>
                                                    <span class="salary-max">@item.SaveJobSalaryMin <em class="salary-unit">triệu</em></span>
                                                </div>
                                                <div class="job-deadline">
                                                    <span><i class="fa fa-clock-o" aria-hidden="true"></i>  Hạn nộp: <strong>31/12/2019</strong></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wrap-btn-appl">
                                            @*<a href="/ung-tuyen" data-id="@item.SaveJobId" class="btn btn-appl">Ứng tuyển ngay</a>*@
                                            <a href="/ung-tuyen?jobId=@item.SaveJobId" class="btn btn-appl">Ứng tuyển ngay</a>
                                          
                                            <a href="#" data-id="@item.SaveJobId" class="btn btn-danger btnDelete">Xóa</a>


                                        </div>

                                    </div>
                                </div>

                            }
                            <div style="height:40px; margin-top: 10px" >

                                <a href="#" style="float: right;" class="btn btn-danger btnDeleteAllJob">Xóa tất cả</a>

                            </div>
                        }

                        else
                        {
                            <div class="job pagi">
                                <div class="job-content">
                                    <span>Không có công việc được lưu</span>

                                </div>
                            </div>
                        }


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('body').on('click', '.btnDeleteAllJob', function (e) {
            e.preventDefault();
            var confirmDelete = confirm('Bạn có chắc chắn muốn xóa tất cả công việc đã lưu?');
            if (confirmDelete) {
                $.ajax({
                    url: '/SaveJob/DeleteAllJobs', // Đường dẫn đến phương thức DeleteAllJobs
                    type: 'POST',
                    success: function (response) {
                        if (response.success) {
                            alert(response.message);
                            location.reload(); // Làm mới trang để cập nhật lại danh sách công việc
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function () {
                        alert("Có lỗi xảy ra khi kết nối với server.");
                    }
                });
            }
        });
    });
</script>
