@using WebJob.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TechJobs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Roboto Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&display=swap" rel="stylesheet">

    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/bootstrap.min.css">



    <!-- Font Awesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet" />

    <!-- select 2 css -->
    <link rel="stylesheet" href="~/Content/assets/css/select2.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Owl Stylesheets -->
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <link rel="stylesheet" href="~/Content/assets/css/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/owlcarousel/owl.theme.default.min.css">
    <!-- main css -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/main.css">
    <link href="/Content/assets/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/assets/css/Style1.css" rel="stylesheet" />
    <link href="/Content/assets/site.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Content/assets/js/jquery-3.4.1.slim.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <style>
        .job-title a {
            display: block; /* Đảm bảo là khối */
            white-space: nowrap; /* Không xuống dòng */
            overflow: hidden; /* Ẩn phần dư thừa */
            text-overflow: ellipsis; /* Hiển thị dấu ba chấm */
            max-width: 200px; /* Đặt chiều rộng tối đa phù hợp */
            font-size: 16px; /* Kích thước chữ tùy chỉnh */
            color: #333; /* Màu chữ */
            text-decoration: none; /* Bỏ gạch chân mặc định */
        }

            .job-title a:hover {
                text-decoration: underline; /* Hiệu ứng khi rê chuột */
            }


        .nav-item {
            position: relative; /* Để định vị tooltip */
        }

        .notification-badge {
            position: absolute;
            top: -10px; /* Điều chỉnh vị trí trên trục dọc */
            right: -10px; /* Điều chỉnh vị trí trên trục ngang */
            background-color: red; /* Màu nền cho thông báo */
            color: white; /* Màu chữ */
            border-radius: 50%; /* Hình dạng tròn */
            padding: 0 6px; /* Khoảng cách giữa số và viền */
            font-size: 12px; /* Kích thước chữ */
            line-height: 20px; /* Căn chỉnh chữ với hình tròn */
            text-align: center; /* Căn giữa chữ */
            display: inline-block; /* Để có thể căn giữa chữ trong hình tròn */
        }

        .tooltip {
            display: none; /* Ẩn tooltip mặc định */
            position: absolute;
            top: 30px;
            left: 50%; /* Căn giữa với phần tử cha */
            transform: translateX(-50%); /* Căn giữa chính xác */
            background-color: #fff; /* Màu nền của tooltip */
            color: #333; /* Màu chữ của tooltip */
            padding: 10px; /* Khoảng cách bên trong tooltip */
            border-radius: 4px; /* Bo tròn các góc của tooltip */
            box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Đổ bóng cho tooltip */
            z-index: 1000; /* Đảm bảo tooltip hiển thị trên các phần tử khác */
            max-width: 800px; /* Kích thước tối đa của tooltip */
            min-width: 400px; /* Kích thước tối đa của tooltip */
            opacity: 0; /* Ẩn tooltip cho hiệu ứng chuyển tiếp */
            transition: opacity 0.3s ease; /* Hiệu ứng chuyển tiếp cho tooltip */
        }

        .nav-item:hover .tooltip {
            display: block; /* Hiển thị tooltip khi di chuột vào phần tử */
            opacity: 1; /* Hiển thị tooltip khi di chuột vào phần tử */
        }

        .tooltip-content {
            max-height: 800px; /* Kích thước tối đa của phần nội dung */
            overflow-y: auto; /* Thêm thanh cuộn nếu nội dung vượt quá kích thước */
        }

        .job-item {
            display: flex; /* Hiển thị hình ảnh và thông tin công việc theo hàng ngang */
            margin-bottom: 20px; /* Khoảng cách giữa các công việc */
            /*align-items: center;*/
        }

        .job-image {
            width: 50px; /* Kích thước hình ảnh */
            height: 50px; /* Kích thước hình ảnh */
            border-radius: 4px; /* Bo tròn các góc của hình ảnh */
            margin-right: 10px; /* Khoảng cách giữa hình ảnh và thông tin */
        }

        .job-info {
            flex-grow: 1; /* Để thông tin công việc chiếm không gian còn lại */
        }

        .job-name {
            display: block; /* Hiển thị tên công việc */
            font-weight: bold; /* Làm đậm tên công việc */
            text-align: left;
        }

        .job-salary {
            display: block; /* Hiển thị mức lương */
            color: #666; /* Màu chữ cho mức lương */
            text-align: left;
        }

        .btn-remove {
            background-color: #f44336; /* Màu nền cho nút xóa */
            color: white; /* Màu chữ cho nút xóa */
            border: none; /* Loại bỏ viền của nút xóa */
            padding: 5px 10px; /* Khoảng cách bên trong nút xóa */
            border-radius: 4px; /* Bo tròn các góc của nút xóa */
            cursor: pointer; /* Con trỏ khi di chuột vào nút xóa */
        }

            .btn-remove:hover {
                background-color: #c62828; /* Thay đổi màu nền khi di chuột vào nút xóa */
            }

@**@



    </style>
</head>

<body>
    <!-- main nav -->
    <div class="container-fluid fluid-nav ">
        <div class="container cnt-tnar">
            <nav class="navbar navbar-expand-lg navbar-light bg-light tjnav-bar">
                <!-- <a class="navbar-brand" href="#">Navbar</a> -->
                <a href="/trang-chu" class="nav-logo">
                    <img src="~/Content/assets/img/logojobtran.png">
                </a>
                <button class="navbar-toggler tnavbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <!-- <span class="navbar-toggler-icon"></span> -->
                    <i class="fa fa-bars icn-res" aria-hidden="true"></i>

                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    @Html.Action("MenuTop", "Menu")


                    <ul class="navbar-nav mr-auto my-2 my-lg-0 tnav-right tn-nav">

                        <li class="nav-item">
                            <a class="nav-link" href="/cong-viec-da-luu">
                                @*<i class="fa fa-bell" aria-hidden="true"></i>*@
                                <i class="fa-solid fa-bookmark"></i>
                                <span id="checkout_items" class="notification-badge">0</span> <!-- Số lượng thông báo -->
                                <span class="hidden-text">Thông báo</span>
                                <!-- Tooltip -->
                                <!--<div class="tooltip">
                                <div class="tooltip-content">
                                    <div class="job-item">
                                        <img src="img/job1.jpg" alt="Job 1" class="job-image">
                                        <div class="job-info">
                                            <span class="job-name">Công việc 1</span>
                                            <span class="job-salary">10,000,000 - 15,000,000 VND</span>
                                        </div>
                                        <button class="btn-remove" data-id="1">Xóa</button>
                                    </div>
                                    <div class="job-item">
                                        <img src="img/job2.jpg" alt="Job 2" class="job-image">
                                        <div class="job-info">
                                            <span class="job-name">Công việc 2</span>
                                            <span class="job-salary">12,000,000 - 20,000,000 VND</span>
                                        </div>
                                        <button class="btn-remove" data-id="2">Xóa</button>
                                    </div>
                                    <div class="job-item">
                                        <a class="btn btn-appl" href="/cong-viec-da-luu">Xem nhiều hơn</a>
                                    </div>-->
                                <!-- Thêm các công việc khác nếu cần -->
                                <!--</div>
                                </div>-->
                            </a>
                        </li>

                        <!--<li class="nav-item">
                            <a class="nav-link" href="/gio-hang">-->
                        @*<i class="fa fa-shopping-cart" aria-hidden="true"></i>*@
                        <!--<i class="fa-solid fa-cart-shopping"></i>
                                <span id="checkout_cart" class="notification-badge">0</span>
                                <span class="hidden-text">Giỏ hàng</span>

                            </a>
                        </li>-->

                        <ul class="navbar-nav ml-auto">
                            @if (Request.IsAuthenticated)
                            {
                                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @id = "logOffDForm" }))
                                {
                                    @Html.AntiForgeryToken()
                                }

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                                        @User.Identity.Name
                                    </a>
                                    <div class="dropdown-menu tdropdown" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="@Url.Action("MyAppliedJobs", "MyApplicant")">Xem danh sách đã ứng tuyển</a>
                                        <a class="dropdown-item" href="/gio-hang">Gói dịch vụ</a>
                                        <a class="dropdown-item" href="/goi-da-mua">Gói dịch vụ đã mua</a>
                                        <a class="dropdown-item" href="/cong-viec-da-luu">Công việc dã lưu</a>
                                        <a class="dropdown-item" href="javascript:document.getElementById('logOffDForm').submit()">Đăng xuất</a>
                                    </div>
                                </li>

                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="/account/register">Đăng Ký</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/account/login">Đăng Nhập</a>
                                </li>
                            }
                        </ul>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                VI
                            </a>
                            <div class="dropdown-menu tdropdown" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">English</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-employers"
                               href="/Account/Login?returnUrl=/Employer/HomeEm"
                               tabindex="-1"
                               aria-disabled="true">
                                Nhà Tuyển Dụng
                            </a>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- (end) main nav -->

    <div class="clearfix"></div>

    <!-- main banner -->
    <div class="container-fluid clear-left clear-right">
        <div class="main-banner">
            <div class="banner-image">
                <img src="~/Content/assets/img/banner2.jpg" alt="banner-image">
            </div>
        </div>
        @*<div class="banner-content">
                <h3>Hơn 1000+ dành cho bạn</h3>

            </div>*@
    </div>
    <!-- (end) main banner -->
    <!-- search section -->
    <div class="container-fluid search-fluid">
        <div class="container">
            <div class="search-wrapper" style="margin-top: -11rem;">

                <ul class="nav nav-tabs search-nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item search-nav-item">
                        <a class="nav-link snav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Tìm việc làm</a>
                    </li>
                    <li class="nav-item search-nav-item">
                        <a class="nav-link snav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Tìm công ty</a>
                    </li>
                </ul>
                <div class="tab-content search-tab-content" id="myTabContent">
                    <!-- content tab 1 -->
                    @*Search*@
                    @Html.Action("SearchView", "Search")
                    <!-- (end) content tab 1 -->
                    <!-- content tab 2 -->
                    @*<div class="tab-pane stab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <form class="bn-search-form">
                                <div class="row">
                                    <div class="col-md-10 col-sm-12">
                                        <div class="input-group s-input-group w-100">
                                            <input type="text" class="form-control sinput" placeholder="Nhập tên công ty">
                                            <span><i class="fa fa-search"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-12">
                                        <button type="submit" class="btn btn-primary btn-search col-sm-12">Tìm kiếm</button>
                                    </div>
                                </div>
                            </form>
                        </div>*@
                    <!-- (end) content tab 2 -->
                </div>

            </div>
        </div>
    </div>
    <!-- (end) search section -->

    @RenderBody();



    <!-- job support -->
<div class="container-fluid job-support-wrapper">
    <div class="container-fluid job-support-wrap">
        <div class="container job-support">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-12">
                    <ul class="spp-list">
                        <li>
                            <span><i class="fa fa-question-circle pr-2 icsp"></i>Hỗ trợ nhà tuyển dụng:</span>
                        </li>
                        <li>
                            <span><i class="fa fa-phone pr-2 icsp"></i>@SettingHelper.GetValue("SettingHotline")</span>
                        </li>
                    </ul>
                </div>

                @* nhận mail đăng ký *@
                @Html.Action("Partial_Subcrice", "Home")
            </div>
        </div>
    </div>
    <button id="backToTop" class="back-to-top" title="Quay lại đầu trang">↑</button>
</div>

    
    <style>
        /* CSS cho nút quay lại lên đầu trang */
        .back-to-top {
            position: fixed;
            bottom: 20px;
            right: 20px;
            display: none;
            width: 50px;
            height: 50px;
            border: none;
            border-radius: 50%;
            background-color: #007bff;
            color: white;
            font-size: 18px;
            cursor: pointer;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            z-index: 1000;
        }

            .back-to-top:hover {
                background-color: #0056b3;
            }
    </style>
    <script>
        // Khi cuộn xuống một khoảng nhất định, hiển thị nút
        window.onscroll = function () {
            var backToTopBtn = document.getElementById("backToTop");
            if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
                backToTopBtn.style.display = "block";
            } else {
                backToTopBtn.style.display = "none";
            }
        };

        // Khi bấm vào nút, cuộn lại lên đầu trang
        document.getElementById("backToTop").onclick = function () {
            window.scrollTo({
                top: 0,
                behavior: 'smooth' // Cuộn mượt
            });
        };
    </script>

    <!-- (end) job support -->
    <!-- footer -->
    <div class="container-fluid footer-wrap  clear-left clear-right">
        <div class="container footer">
            <div class="row">
                <div class="col-md-4 col-sm-8 col-12">
                    <h2 class="footer-heading">
                        <span>Về chúng tôi</span>
                    </h2>
                    <p class="footer-content">
                        Nền tảng kết nối nhà tuyển dụng và ứng viên nhanh chóng, hiệu quả và tối ưu chi phí.
                    </p>
                    <ul class="footer-contact">
                        <li>
                            <a href="#">
                                <i class="fa fa-phone fticn"></i> +123 456 7890
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-envelope fticn"></i>
                                hello@123.com
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-map-marker fticn"></i>
                                Ninh kiều, TP.Cần Thơ
                            </a>
                        </li>
                    </ul>
                </div>
                @*<div class="col-md-2 col-sm-4 col-12">
                        <h2 class="footer-heading">
                            <span>Ngôn ngữ nổi bật</span>
                        </h2>
                        <ul class="footer-list">
                            <li><a href="#">Javascript</a></li>
                            <li><a href="#">Java</a></li>
                            <li><a href="#">Frontend</a></li>
                            <li><a href="#">SQL Server</a></li>
                            <li><a href="#">.NET</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-6 col-12">
                        <h2 class="footer-heading">
                            <span>Tất cả ngành nghề</span>
                        </h2>
                        <ul class="footer-list">
                            <li><a href="#">Lập trình viên</a></li>
                            <li><a href="#">Kiểm thử phần mềm</a></li>
                            <li><a href="#">Kỹ sư cầu nối</a></li>
                            <li><a href="#">Quản lý dự án</a></li>
                        </ul>
                    </div>*@
                <div class="col-md-4 col-sm-6 col-12">
                    <h2 class="footer-heading">
                        <span>Ngành nghề</span>
                    </h2>
                    <ul class="footer-list">
                        <li><a href="#"></a></li>
                        <li><a href="#">Bất động sản</a></li>
                        <li><a href="#">Công nghệ thông tin</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12 col-12">
                    <h2 class="footer-heading">
                        <span>Tất cả tỉnh thành</span>
                    </h2>
                    <ul class="footer-list">
                        <li><a href="#">Hồ Chính Minh</a></li>
                        <li><a href="#">Hà Nội</a></li>
                        <li><a href="#">Đà Nẵng</a></li>
                        <li><a href="#">Buôn Ma Thuột</a></li>
                    </ul>
                </div>


            </div>
        </div>
    </div>

    <footer class="container-fluid copyright-wrap">
        <div class="container copyright">
            <p class="copyright-content">
                Copyright © 2024 <a href="#"> Now<b>Jobs</b></a>. All Right Reserved.
            </p>
        </div>
    </footer>


    <!-- (end) footer -->
    @*@Scripts.Render("~/bundles/jquery")*@

    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>*@
    <script type="text/javascript" src="~/Content/assets/js/readmore.js"></script>
    <script type="text/javascript">
        $('.catelog-list').readmore({
            speed: 75,
            maxHeight: 150,
            moreLink: '<a href="#">Xem thêm<i class="fa fa-angle-down pl-2"></i></a>',
            lessLink: '<a href="#">Rút gọn<i class="fa fa-angle-up pl-2"></i></a>'
        });
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- Optional JavaScript -->

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jsSaveJob.js"></script>
    <script src="~/Scripts/JsShopping.js"></script>
    <script src="~/Content/assets/js/popper.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/select2.min.js"></script>
    <script src="~/Content/assets/js/jobdata.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <!-- <script type="text/javascript" src="js/pagination.js"></script> -->
    <!-- Owl Stylesheets Javascript -->
    <script src="~/Content/assets/js/owlcarousel/owl.carousel.js"></script>
    <!-- Read More Plugin -->

    @RenderSection("scripts", required: false)



</body>

</html>
