
@model WebJob.Models.EF.Contact

@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}


<div class="login-main">
    <div class="w-login m-auto">
        <div class="row">
           

            <!-- login main descriptions -->
            <div class="col-md-6 col-sm-12 col-12 login-main-left">
                <img src="~/Content/assets/img/banner-login.png" alt="Banner">
            </div>
            <!-- login main form -->
            <div class="col-md-6 col-sm-12 col-12 login-main-right">
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success">
                        @TempData["SuccessMessage"]
                    </div>
                }


                @if (ViewBag.Message != null)
                {
                    <div class="alert alert-success">
                        @ViewBag.Message
                    </div>
                }

                @using (Html.BeginForm("Contact", "Contact", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="login-main-header">
                        <h3>Liên hệ</h3>
                    </div>



                    <div class="input-div one">
                        <div class="div lg-lable">
                            @Html.TextBoxFor(model => model.Name, new { @class = "input form-control-lgin", placeholder = "Nhập họ và tên" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="input-div one">
                        <div class="div lg-lable">
                            @Html.TextBoxFor(model => model.Email, new { @class = "input form-control-lgin", placeholder = "Nhập email" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="input-div one">
                        <div class="div lg-lable">
                            @Html.TextAreaFor(model => model.Message, new { @class = "input form-control-lgin w-100", rows = 4, placeholder = "Nhập nội dung cần hỗ trợ" })
                            @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <br />
                    <br />
                    <button type="submit" class="btn btn-primary float-right btn-login d-block w-100">Gửi</button>
                }
            </div>
        </div>
    </div>
</div>
<div style="height:20px"></div>

<style>
    .form-control-lgin {
        background-color: transparent; /* Xóa màu nền */
        color: #000; /* Đặt màu chữ (nếu cần) */
        border: 1px solid #ccc; /* Đặt viền nhẹ */
    }

        .form-control-lgin::placeholder {
            color: #aaa; /* Màu placeholder nhẹ */
        }

    .alert {
        margin-bottom: 20px;
        padding: 15px;
        border-radius: 5px;
    }

    .alert-success {
        background-color: #d4edda;
        color: #155724;
        border: 1px solid #c3e6cb;
    }
</style>
